@import '../../../../global.scss';
.container {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Header';
  padding-bottom: 200px;
  padding-top: 100px;
  p {
    font-size: 40px;
    font-family: 'Header';

    margin: 0;
    text-align: center;
    margin-bottom: 40px;

    @include mobile {
      font-size: 30px;
      padding: 0 30px;
    }
  }
  .button {
    font-family: 'Header';

    font-weight: 900;

    font-size: 17px;
    padding: 10px 50px;
    min-width: 200px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: $accent-secondary;
    border-radius: 5px;
    @include mobile {
      min-width: none;
    }
  }
}
