@import '../../../../global.scss';
.container {
  padding-bottom: 40px;
  background-color: white;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  .photoContainer {
    overflow-x: scroll;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 50px;
    padding: 0 20px;

    .photo {
      position: relative;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      img {
        display: block;
        max-width: 200px;
        height: auto;
      }

      .caption {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.829);
        color: black;
        font-size: 14px;
        text-align: center;
      }
    }
  }
}
