@import '../../../../global.scss';
.container {
  margin-top: -10px;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;

  @include mobile {
    grid-template-columns: 1fr;
  }
  .descriptionContainer {
    display: flex;
    // align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px;

    @include mobile {
      padding: 130px 40px;
    }

    .title {
      font-family: 'Header';
      font-weight: 900;
      font-size: 50px;
      margin: 0;
      width: 100%;

      @include mobile {
        text-align: center;
        font-size: 40px;
      }
    }
    .quote {
      width: 100%;

      font-family: 'Header';
      font-weight: 400;
      font-size: 34px;
      margin: 10px 0;
      color: $accent-secondary;
      span {
        font-weight: 900;
        color: black;
        font-size: 35px;
      }

      @include mobile {
        text-align: center;

        font-size: 25px;
      }
    }
    .introText {
      font-size: 20px;
      line-height: 40px;
      margin-bottom: 70px;
      min-width: 400px;
      @include mobile {
        min-width: 0;
        font-size: 17px;
        text-align: center;
      }
    }
    .button {
      font-family: 'Header';

      font-weight: 900;

      font-size: 17px;
      padding: 10px 50px;
      min-width: 80px;
      text-align: center;
      text-decoration: none;
      color: white;
      background-color: $accent-secondary;
      border-radius: 5px;
    }
  }
  .imageContainer {
    padding: 200px;
    margin: 0;
    background-image: url('/images/HopesGarden4.jpeg');
    background-size: cover;
    background-position: 100% 150%;
    // background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
    width: 100%;

    &::before {
      content: '';
      //make a gradient overlay from the top to the bottom  of the image with white from the top to transparent at the bottom
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 5%,
        rgba(255, 255, 255, 0) 100%
      );
    }

    @include mobile {
      order: -1;
      position: relative;
      padding: 0px;
      background-position: 100% 100%;
    }

    .wave {
      position: absolute;
      height: 101%;
      top: -10px;
      left: -30px;
      z-index: 2;

      img {
        height: 100.4%;
        // width: fit-content;
      }

      &.wave2 {
        z-index: 1;

        left: -30px;
      }

      @include mobile {
        display: none;
      }
    }

    .image {
      position: relative;
      left: -140px;
      border-radius: 10px;
      max-width: 350px;
      max-height: 600px;
      z-index: 3;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
      border-radius: 20px;

      @include mobile {
        // left: 0;
        //put this absolute image in the middle
        margin: 0;
        left: 50%;
        transform: translateX(-50%);

        top: 100px;
        max-width: 200px;
      }
    }
  }
  .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    position: relative;
    z-index: 3;

    img {
      width: 30px;
    }
    &:hover {
      cursor: pointer;
    }

    // make the arrow bounce
    animation: bounce 2s infinite;
    @keyframes bounce {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-5px);
      }
      100% {
        transform: translateY(0);
      }
    }
  }
}
