@font-face {
  font-family: 'IvyPresto';
  src: url('/fonts/IvyPrestoLight.ttf') format('truetype');
  font-weight: 100;
}
@font-face {
  font-family: 'IvyPresto';
  src: url('/fonts/IvyPresto.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'IvyPresto';
  src: url('/fonts/IvyPrestoBold.ttf') format('truetype');
  font-weight: 900;
}
@font-face {
  font-family: 'PTSans';
  src: url('/fonts/PTSans.ttc') format('truetype');
}

//create a mobile mixin
@mixin mobile {
  @media (max-width: 1000px) {
    @content;
  }
}

$dark: #707070;
$background: #f7f4f2;
$background-secondary: #ece6da;
$accent: #ebd8c8;
body {
  background-color: $background;
  font-family: 'PTSans', sans-serif;
  font-style: normal;
  margin: 0;
}
