@font-face {
  font-family: 'Header';
  src: url('/fonts/IvyPrestoLight.ttf') format('truetype');
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: 'Header';
  src: url('/fonts/IvyPresto.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Header';
  src: url('/fonts/IvyPrestoBold.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: 'Body';
  src: url('/fonts/PTSans-Regular.ttf') format('truetype');
  font-display: swap;
}

//create a mobile mixin
@mixin mobile {
  @media (max-width: 1000px) {
    @content;
  }
}

$dark: #707070;
$background: #faf7f4;
$background-secondary: #ece6da;
$accent: #ebd8c8;
$accent-secondary: #9a8d83;
body {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;

  background-color: $background;
  font-family: 'Body';
  font-style: normal;
  // margin: 0;
  scroll-behavior: smooth;

  .container {
    margin: 0 auto;

    max-width: 2000px;
  }
}
