@import '../../../../global.scss';
.wrapper {
  position: relative;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    overflow: visible;

    @include mobile {
      grid-template-columns: 1fr;
    }
    .imageContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      z-index: 5;

      @include mobile {
        order: 1;
      }

      .image {
        width: 500px;

        object-fit: cover;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;

        @include mobile {
          width: 300px;
        }
      }
    }

    .descriptionContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 100px;
      padding-left: 20px;

      @include mobile {
        padding: 20px;
      }
      p {
        font-size: 20px;
        line-height: 40px;
        // margin-bottom: 70px;
        min-width: 400px;
      }
    }
  }

  .wave {
    position: absolute;
    top: -300px;
    left: 0;

    z-index: 1;
    min-width: 1400px;
    @include mobile {
      display: none;
    }
  }
}
